.header {
  mask-image: linear-gradient(black 80%, transparent);
  height: 100px;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    margin-left: 5%;
    align-items: center;
    flex-grow: 1;
  }

  .right {
    justify-self: right;
    margin-right: 5%;
  }

  .avatar {
    $avatar-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
  }

  .me {
    margin-left: 3%;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .theme-toggle {
    position: fixed;
    right: 0;
    top: 0;
  }
}
