.header {
  width: 100%;
  height: 200px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;

  .avatar {
    $avatar-size: 125px;
    background-position: center;
    background-repeat: no-repeat;
    width: $avatar-size;
    min-width: 75px;
    max-width: 150px;
    height: $avatar-size;
    min-height: 75px;
    max-height: 150px;
    border-radius: 50%;
    margin-left: 10%;
  }

  .theme-toggle {
    position: absolute;
    right: 0.2%;
    top: 0.5%;
  }
}
