.footer
    mask-image: linear-gradient(360deg, red 90%, transparent)
    height: 40px
    margin-top: 20px
    display: flex
    align-items: center
    justify-content: center

    a
        margin: 10px
        margin-top: 15px
        opacity: 0.4
        &:hover
            opacity: 1
