<div id="contact">
  <h2>Get in Touch</h2>
  <p>Send me an email to reach out about anything!</p>
  <form (submit)="sendEmail()" [formGroup]="form">
    <div class="whom">
      <mat-form-field>
        <mat-label>Send me an email to reach out about anything!</mat-label>
        <input matInput formControlName="name" required />
        @if (form.controls.name.invalid) {
          <mat-error>{{ getErrorMessage(form.controls.name) }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>A very important topic</mat-label>
        <input matInput formControlName="subject" required />
        @if (form.controls.subject.invalid) {
          <mat-error>{{ getErrorMessage(form.controls.subject) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>The very important topic</mat-label>
      <textarea matInput formControlName="message"></textarea>
      @if (form.controls.message.invalid) {
        <mat-error>{{ getErrorMessage(form.controls.message) }}</mat-error>
      }
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>
</div>
