<div id="contact">
  <h2 i18n>Get in Touch</h2>
  <p i18n>Send me an email to reach out about anything!</p>
  <form
    (submit)="sendEmail(formDirective)"
    [formGroup]="form"
    #formDirective="ngForm"
  >
    <div class="whom">
      <mat-form-field>
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name" required />
        @if (form.controls.name.invalid) {
          <mat-error>{{ getErrorMessage(form.controls.name) }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Email</mat-label>
        <input matInput formControlName="email" required />
        @if (form.controls.email.invalid) {
          <mat-error>{{ getErrorMessage(form.controls.email) }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Subject</mat-label>
        <input matInput formControlName="subject" required />
        @if (form.controls.subject.invalid) {
          <mat-error>{{ getErrorMessage(form.controls.subject) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label i18n>Message</mat-label>
      <textarea matInput formControlName="message"></textarea>
      @if (form.controls.message.invalid) {
        <mat-error>{{ getErrorMessage(form.controls.message) }}</mat-error>
      }
    </mat-form-field>
    @if (sending) {
      <mat-spinner color="accent" class="spinner" diameter="36"></mat-spinner>
    } @else {
      <button mat-raised-button color="accent" type="submit" i18n>
        Submit
      </button>
    }
  </form>
</div>
