<div class="menu-container">
  <input
    class="side-menu"
    type="checkbox"
    id="side-menu"
    [(ngModel)]="menuOpen"
  />
  <label class="menu-icon" for="side-menu">
    <span class="menu-line"></span>
  </label>
  <nav class="menu">
    <ul class="list">
      <li><a (click)="closeMenu()" href="#about" i18n>Me</a></li>
      <li><a (click)="closeMenu()" href="#projects" i18n>Projects</a></li>
      <li><a (click)="closeMenu()" href="#contact" i18n>Contact</a></li>
      <li><a [href]="redirectUrl" i18n>FR</a></li>
    </ul>
  </nav>
</div>
