@use "../../font" as font;

.menu {
  @include font.setFontFamily();
  display: flex;
  justify-content: right;

  .list {
    list-style-type: none;
    display: flex;
    li {
      margin-left: 20px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
