@use "@angular/material" as mat;
@use "theme-components" as components;

@mixin theme($typography) {
  $primary: mat.m2-define-palette(mat.$m2-grey-palette, 900, 700, 900, 50);
  $accent: mat.m2-define-palette(mat.$m2-pink-palette, A400, 500, 800, 400);

  $theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
      ),
      typography: $typography,
      density: 0,
    )
  );

  @include mat.all-component-themes($theme);
  @include components.colors($theme);
}
