@use "@angular/material" as mat;

@mixin theme() {
  $primary: mat.define-palette(mat.$grey-palette, 900, 700, 900, 50);
  $accent: mat.define-palette(mat.$pink-palette, A400, 500, 800, 400);

  // The "warn" palette is optional and defaults to red if not specified.
  $warn: mat.define-palette(mat.$red-palette);

  $theme: mat.define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    )
  );

  @include mat.all-component-themes($theme);
}
