@use "@angular/material" as mat;
@use "app/header/header-theme.component" as header;
@use "app/footer/footer-theme.component" as footer;
@use "app/menu/menu-theme.component" as menu;

@mixin theme($typography) {
  $primary: mat.define-palette(mat.$grey-palette, 700, 500, 700, 50);
  $accent: mat.define-palette(mat.$pink-palette, A400, 500, 800, 400);

  $theme: mat.define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
      ),
      typography: $typography,
      density: 0,
    )
  );

  @include mat.all-component-colors($theme);
  @include header.background($theme);
  @include footer.background($theme);
  @include menu.linkColors($theme);
}
