@use "@angular/material" as mat;
@use "dark.scss" as dark;
@use "light.scss" as light;
@use "font.scss" as font;

@include mat.core();
@include font.defineFontFace();
$typography: font.getTypography();
@include dark.theme($typography);

.light-theme {
  @include light.theme($typography);
}

html,
body {
  margin: 0;
  height: 100%;

  h2 {
    @include font.setFontFamily();
  }
}
