#home {
  #content {
    width: 80%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    flex-grow: 1;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
